/* MicroFLF-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'MicroFLF';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/microflf.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.landing-page-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}