:root {
  --ng-red: #9F0808;
  --off-white: #FAF9F6;
}

@font-face {
  font-display: swap;
  font-family: 'MicroFLF-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/microflf-bold.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.header {
  height: 80px;
  background-color: var(--off-white);
  display: flex;
  width: 100%;
  padding: 40px 0 0.5rem;
}

.banner {
  height: 15px;
  background-color: var(--ng-red);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.banner-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-family: 'MicroFLF-Bold', serif;
  margin-right: 10px;
  white-space: nowrap;
}

.banner-nav-link:hover {
  text-decoration: underline;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}

.banner-social {
  margin-left: auto;
  display: flex;
}

.header-social-stack {
  margin-right: 10px;
}

.banner-waiver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 87px;
}

.lower-banner {
  background-color: var(--ng-red);
  padding: 0.5rem 0;
  height: 1px;
  background-color: var(--ng-red);
  transform: scaleY(0.5); /* Visually appears thinner */
  transform-origin: top;
}

.ng-logo-header {
  margin-left: 20px;
  align-items: center;
  background-color: var(--off-white);
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

/*  DESKTOP */
.desktop-tab {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
}

.desktop-tab-with-box {
  color: #FFFFFF;
  border: 5px solid var(--ng-red);
  background-color: var(--ng-red);
  padding: 12px;
  border-radius: 3px;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
}

.desktop-header {
  display: flex;
}

.desktop-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: 'MicroFLF-Bold', serif;
  white-space: nowrap;
}

.desktop-header ul li {
  margin-right: 80px;
}

.desktop-header ul li:last-child {
  margin-right: 20px;
}

@media (max-width: 999px) {
  .desktop-header {
    display: none;
  }
}

/* MOBILE */
.mobile-header {
  display: flex;
}

.mobile-header ul {
  display: flex;
  list-style: none;
  align-items: center;
  font-family: 'MicroFLF-Bold', serif;
  white-space: nowrap;
}

.mobile-header ul li:first-child {
  margin-right: 50px;
}

.mobile-header ul li:last-child {
  margin-right: 10px;
}

  .mobile-tab {
    display: flex;
    justify-content: space-between;
    list-style: none none;
    align-items: center;
  }

  .mobile-tab a {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    font-family: 'MicroFLF-Bold', serif;
    font-size: 24px;
  }

  .mobile-tab a:hover {
    color: #70766A;
  }
  .mobile-tab a:active {
    color: #c97946;
  }
  
  .hamburger-drop-down {
    margin-right: 20px;
  }

  @media (min-width: 1000px) {
    .mobile-header {
      display: none;
    }
  }

/* Hide the mobile version on screens 651px and up */
@media (min-width: 651px) {
  .phone-contact-mobile {
    display: none;
  }
}

@media (max-width: 650px) {
  .phone-contact-desktop {
    display: none;
  }
}