:root {
  --ng-red: #9f0808;
  --white: #ffffff;
  --inverted-ng-red: #22ccff;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "MicroFLF";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/microflf.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* NEW */
.ng-logo-footer {
  margin-left: 20px;
  align-items: center;
  /*background-color: var(--ng-red);*/
  display: flex;
  justify-content: flex-start;
  width: 100%;
  filter: invert(1);
  /* z-index: 99; */
}

.footer-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-family: "MicroFLF", serif;
  white-space: nowrap;
  text-align: left;
}

.footer-address {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-family: "MicroFLF", serif;
  white-space: nowrap;
}

.footer-address:hover {
  text-decoration: underline;
}

.footer-phone-number {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-family: "MicroFLF", serif;
  white-space: nowrap;
}

.footer-phone-number:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .footer-phone-number {
    display: none;
  }
}

.footer {
  height: 250px;
  background-color: var(--ng-red);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem;
  bottom: 0px;
  font-size: 14px;
  padding-bottom: 22px; /*removes small gap underneath footer*/
}

.footer-nav-stack {
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
  font-family: "MicroFLF", serif;
  overflow: hidden;
  white-space: nowrap;
}

.footer-outer-stack-desktop {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 160px;
  margin: 0 auto;
}

.footer-outer-stack-mobile {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 80px;
  padding: 16px 0;
  margin: 0 auto;
}

.footer-inner-stack {
  gap: 80px;
}

@media (max-width: 899px) {
  .footer-inner-stack {
    gap: 40px;
  }
  .footer-desktop-view {
    display: none;
  }

  .footer-outer-stack-desktop {
    gap: 80px;
  }

  .footer-outer-stack-mobile {
    gap: 40px;
  }
}
@media (min-width: 899px) {
  .footer-mobile-view {
    display: none;
  }

  .footer-outer-stack-mobile {
    display: none;
  }
}

@media (max-width: 649px) {
  .footer-outer-stack-desktop {
    display: none;
  }

  .footer {
    height: 600px;
  }
}
@media (min-width: 649px) {
  .footer-outer-stack-mobile {
    display: none;
  }
}

/*.left-align {*/
/*  text-align: left;*/
/*}*/
